POSTGRES_USER=greenops_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=greenops_db
POSTGRES_PORT=5432

DB_USER=greenops_user
DB_PASSWORD=change-me
DB_NAME=greenops_db
DB_HOST=postgres
DB_PORT=5432

JWT_SECRET=change-this-jwt-secret
JWT_EXPIRES_IN=1h

NGINX_PORT=8080
PROMETHEUS_PORT=9090
PROMETHEUS_TARGET_HOST=host.docker.internal
GRAFANA_PORT=3002
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=GreenOps2026!Secure

ENERGY_THRESHOLD_KW=70
CARBON_THRESHOLD_GRAMS=420
RENEWABLE_MIN_PERCENTAGE=45
